html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Montserrat-Bold";
  /* src: url("./assets/fonts/Montserrat-Bold.ttf"); */
  src: url("./assets/fonts/montserrat-bold-webfont.woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  /* src: url("./assets/fonts/Montserrat-SemiBold.ttf"); */
  src: url("./assets/fonts/montserrat-semibold-webfont.woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.woff2");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
